<!--<head>
  <h2>Check your mail here!</h2>
  <style>
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }
      th, td {
          padding: 5px;
      }
  </style>
</head> -->
<h2>Your sent messages</h2>
<%= render partial: "form", locals: {emails:@emails, page:"sent"} %>




