
<center><a href="/emails/new">Compose Mail</a> <a href="/inbox/view">Check Inbox</a> <a href="/inbox/sent">Sent Mail</a>
  <a href="/inbox/draft">See Drafts</a></center>
<br/> <br/>

<%= render partial: "form", locals: {emails:@emails, page:"view"} %>

<!-- my old code -->






