.layout{

  border:2px solid #a1a1a1;
  margin-top:20px;
  font-size:15px;
  padding:10px 40px;
  background:#dddddd;
  width:250px;
  height:250px;
  border-radius:25px;
  margin-left: auto ;
  margin-right: auto ;

}