body {
  background-color: #e8e8e8;
  background-image: url("../images/back2.jpeg");
}
table {
  border-radius: 25px;
  -moz-border-radius: 25px;
  webkit-border-radius:25px;
  }

table, th, td {
    background-color: #d0d0d0;
    border: 1px solid black;
    border-collapse: collapse;
    ;
  }

  th {
    background-color: darkcyan;
    color: white;
  }

  th, td {
    padding: 5px;
    word-wrap: break-word;
    max-width: 150px;
  }


